.container-form-login #div_id_username label {
    display: none;
}

.container-form-login #div_id_password label {
    display: none;
}

.movie-title {
    color: brown;
    text-transform: capitalize;
}

.navbar-nav .nav-item {

    margin-right: 10px;

}