<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">Home</a>

    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="False"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div
            class="collapse navbar-collapse"
            id="navbarText">

        <ul class="navbar-nav">

            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome {{ user.username }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="/share">Share a movie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="/logout">Logout</a>
                </li>

            {% else %}

                <li class="nav-item">

                    {% include 'login_navbar.html' %}

                </li>

            {% endif %}

        </ul>

    </div>

</nav>